<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Project</title>
</head>
<body>
<p>
    <button id="kakao-login-btn">go to kakao login</button>
</p>

<p>
    <span>Test project title : </span>
    <span th:text="*{title}"></span>
</p>
<p>
    <span>Test project content : </span>
    <span th:text="*{content}"></span>
</p>
<p id="api-string">
    <span>Test hello api string : </span>
</p>

<p>

</p>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script>
    window.addEventListener("message", receiveMessage, false);

    function receiveMessage(event)
    {
        // if (event.origin !== "http://example.org:8080")
        //     return;

        // ...
        console.log(event);
        let result = event.data;
        console.log(result);

        if (result.status == 4101) {
            alert(result.message);
        }
    }

    $(document).ready(function () {

        $('#kakao-login-btn').click(function () {
            popup();
        });

        $.ajax({
            method: "GET",
            url: "/api/hello",
            statusCode: {
                200: function (response) {
                    $('#api-string').append(
                        `
                        <span>${response}</span>
                        `
                    )
                }
            }
        });
    });

    function popup(){
        var url = "api/auth/kakao/sign-in";
        var name = "popup test";
        var option = "width = 500, height = 500, top = 100, left = 200, location = no"
        window.open(url, name, option);
    }
</script>
</body>
</html>